/logs/*
/node_modules/*
/tmp/*
/vendor/*
/webroot/css/app.css
/webroot/css/landing.css
/webroot/fonts/*
!/webroot/fonts/cakedingbats-webfont.*
/webroot/hot
/webroot/img/icons-topics.svg
/webroot/js/app.js
/webroot/js/landing.js
/webroot/mix-manifest.json
/.env*
!/.env.default
/.phpunit-watcher-cache.php
/hot
