/logs/*
/node_modules/*
/tmp/*
/vendor/*
/webroot/css/*
/webroot/fonts/*
!/webroot/fonts/cakedingbats-webfont.*
/webroot/hot
/webroot/img/icons-topics.svg
/webroot/js/*
/webroot/upload/*
/webroot/mix-manifest.json
/.env*
!/.env.default
/.phpunit-watcher-cache.php
/hot
