/build/*
/logs/*
/node_modules/*
/tmp/*
/vendor/*
/webroot/css/*
/webroot/fonts/*
!/webroot/fonts/cakedingbats-webfont.*
/webroot/hot
/webroot/img/*
/webroot/js/*
/webroot/upload/*
/webroot/.cache
/webroot/android-chrome-*.png
/webroot/apple-touch-startup-image-*.png
/webroot/apple-touch-icon.png
/webroot/apple-touch-icon-*.png
/webroot/favicon.ico
/webroot/favicon-*.png
/webroot/favicon-manifest.json
/webroot/firefox_app_*.png
/webroot/mix-manifest.json
/webroot/manifest.json
/webroot/manifest.webapp
/.env*
!/.env.default
/.phpunit-watcher-cache.php
/.php_cs.cache
/hot
