@media (min-width: 768px) {
    .navbar-toggle {
        display: inherit; /* Make hamburger visible on desktop */
    }
}

.navbar-brand {
    padding: 5px; /* Reduce padding to make the most of the image and make even on all sides.. */
    margin: 0 10px; /* ..and compensate with horizontal margin so width/spacing is maintained */
}

.navbar-brand img {
    height: 50px; /* Force image to fit in default navbar height */
}

hr {
    border-top: 5px #7e62a3 solid; /* Make horizontal rules a thick purple line */
}
