@import 'data/variables';

.form-question-answers {
    .radio {
        .radio {
            label {
                background-color: $brand-purple;
                border: 1px solid $black;
                color: $white;
                font-size: $blockquote-font-size;
                padding: ($line-height-computed / 2) $line-height-computed;
                width: 100%;
                input {
                    right: $line-height-computed;
                    top: ($line-height-computed / 2);
                }
            }
        }
    }
}
