//noinspection SpellCheckingInspection
.gapi-analytics-auth-styles-signinbutton {
    cursor: pointer;
}

.icon-ga {
    background-image: url('../svg/google_analytics.svg');
    height: 20px;
    display: inline-block;
    width: 20px;
}
