// Backgrounds

//
// Global
//

body {
    background: url('/img/brand-sprite.svg#logo-purple-faded-usage') no-repeat left -200px bottom -200px;
    background-size: 750px;
}

//
// Split background (login/register/onboarding pages)
//

// Gray left-hand side
.os-bg-split-light {
    background: map-get($theme-colors, 'light') url('../../img/backgrounds/collaboration-faded-l.png') no-repeat center left;
    background-size: cover;
}

// Purple right-hand side
.os-bg-split-dark {
    background: $os-purple-brand-secondary url('../../img/backgrounds/collaboration-faded-r.png') no-repeat center left;
    background-size: cover;
}

@include media-breakpoint-down(sm) {
    .os-bg-split-light {
        background: map-get($theme-colors, 'light') url('../../img/backgrounds/collaboration-faded-t.png') no-repeat bottom center;
        background-size: cover;
    }

    // Purple right-hand side
    .os-bg-split-dark {
        background: $os-purple-brand-secondary url('../../img/backgrounds/collaboration-faded-b.png') no-repeat top center;
        background-size: cover;
    }
}
