// Backgrounds

//
// Global
//

body {
    background: url('/img/brand-sprite.svg#logo-purple-faded-usage') no-repeat left -200px bottom -200px;
    background-size: 750px;
}

//
// Split background (login/register/onboarding pages)
//

// Gray left-hand side
.os-bg-split-light {
    background: map-get($theme-colors, 'light') url('../../img/backgrounds/collaboration-faded.png') no-repeat 50% 0;
    background-size: cover;
}

// Purple right-hand side
.os-bg-split-dark {
    background: $os-purple-brand-secondary url('../../img/backgrounds/collaboration-faded.png') no-repeat 50% 0;
    background-size: cover;
}
