.circle-avatar {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}
