.circle-avatar {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    padding-top: 100%;
    border-radius: 50%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rounded-0-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.rounded-0-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.rounded-0-bottom {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.rounded-0-left {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
